name: example
description: The example for the Flutter Simple Design package.

version: 1.0.0+1

environment:
  sdk: ">=2.0.0-dev.68.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^0.1.2

  simple_design:
    path: ..

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:

  uses-material-design: true

  assets:
    - assets/

  fonts:
    - family: HK Grotesk
      fonts:
        - asset: fonts/HKGrotesk-Regular.ttf
        - asset: fonts/HKGrotesk-Bold.ttf
          weight: 700
